absl-py
numba
kblocks@ git+git://github.com/jackd/kblocks.git
meta-model@ git+git://github.com/jackd/meta-model.git
wtftf@ git+git://github.com/jackd/wtftf.git
shape-tfds@ git+git://github.com/jackd/shape-tfds.git
numba-neighbors@ git+git://github.com/jackd/numba-neighbors.git
